<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ottipäivä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ottipäivä</h1>
    
    <form method="POST" action="/">
        <label for="city">Syötä kaupungin nimi:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Onko ottipäivä?</button>
    </form>

    <h2>📍 {{ location }}</h2>

    {% for day in filteredData %}
        <div class="forecast-container">
            {% for obj in day %}
                <div class="forecast-item">
                    <p>{{ obj.date | dateformat }}</p>
                    <p>Temperature: {{ obj.temp }} °C</p>
                    <p>Wind Speed: {{ obj.wind_speed }} m/s</p>
                    <p>{{ obj.prediction }}</p>
                    <img src="{{ url_for('static', filename='icons/' + obj.fisherman_icon) }}" alt="Fishing Success">
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <footer>
        <p>Created with ❤️ by <a href="https://github.com/joonaskopsala">joonas</a></p>
    </footer>
</body>
</html>
