<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ottipäivä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ottipäivä</h1>
    
    <form method="POST" action="/">
        <label for="city">Syötä kaupungin nimi:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Onko ottipäivä?</button>
    </form>

    <h2>📍 {{ location }}</h2>
    
    <div class="forecast-container">
        {% for day in forecast %}
            <div class="forecast-item">
                <p>{{ day.date | dateformat }}</p>
                <p>Temperature: {{ day.temp }} °C</p>
                <p>Wind Speed: {{ day.wind_speed }} m/s</p>
                <p>{{ day.prediction }}</p>
                <img src="{{ url_for('static', filename='icons/' + day.fisherman_icon) }}" alt="Fishing Success">
            </div>
        {% endfor %}
    </div>

    <footer>
        <p>Created with ❤️ by <a href="https://github.com/joonaskopsala">joonas</a></p>
    </footer>
</body>
</html>
