body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin: 1.25rem 0;
}

h2 {
    color: #2980b9;
    margin: 1.25rem 0;
}

h3 {
    color: #2980b9;
}

form {
    margin: 1.25rem auto;
    display: inline-block;
}

input[type="text"] {
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: 0.0625rem solid #ccc;
    width: 15.5rem;
    font-size: 1rem;
    margin-right: 0.6rem;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #3498db;
}

.navigation {
    margin-top: 2rem;
}

.forecast-display {
    margin: 2rem 2rem 0rem 2rem;
    align-items: center;
    display: flex;
    overflow: auto;
    justify-content: center;
    min-height: 20rem;
}

.forecast-item {
    background-color: #ffffff;
    border-radius: 0.6rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin: 0.6rem;
    width: 19rem;
    min-height: 15rem;
    text-align: center;
}

.forecast-item img {
    width: 4.5rem;
    height: 4.5rem;
}

.forecast-item p {
    font-size: 1.2rem;
    margin: 0.6rem 0;
}

footer {
    margin-top: 3rem;
    padding: 1.25rem;
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
