body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin: 20px 0;
}

h2 {
    color: #2980b9;
    margin: 20px 0;
}

h3 {
    color: #2980b9;
}

form {
    margin: 20px auto;
    display: inline-block;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3498db;
}

.navigation {
    margin-top: 2rem;
}

.forecast-display {
    margin: 2rem 2rem 0rem 2rem;
    align-items: center;
    display: flex;
    overflow: auto;
    justify-content: center;
    min-height: 20rem;
}

.forecast-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.forecast-item img {
    width: 70px;
    height: 70px;
}

.forecast-item p {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
